@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/autoplay";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Fondo oscuro global sin @apply */
body {
  background-color: #131313;
  color: #e5e7eb;             
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
