@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Fondo oscuro global sin @apply */
body {
  background-color: #0c0a09;
  color: #e5e7eb;             
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
